.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  text-transform: uppercase;
  margin: 100px;
  text-align: center;
  p {
    width: 30%;
  }
}