.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  text-transform: uppercase;
  margin: 100px;
  text-align: center;
  p {
    width: 30%;
  }
  .goBackHome {
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 10px;
    border: none;
    background-color: $white;
    color: $darkGray;
    &:hover {
      background-color: $lightBlue;
      color: $white;
      scale: 1.08;
      transition: 0.1s ease;
    }
  }
}