.galleryContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% / 4) - 40px);
    margin: 0 20px;
    gap: 25px;

    @media (max-width: 1187px) {
      flex-basis: calc((100% / 3) - 40px);
      margin: 20px;
    }
    @media (max-width: 890px) {
      flex-basis: calc((100% / 2) - 40px);
    }
    @media (max-width: 590px) {
      flex-basis: 100%;
      align-items: center;
    }
    .roundImgContainer {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      img {
        height: 100%;
        border-radius: 50%;
      }
    }
    h4 {
      font-weight: 800;
    }
  }
}
