.galleryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 60px;
  li {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;

    .roundImgContainer {
      width: 230px;
      height: 230px;
      margin-bottom: 20px;
      //   img {
      //     height: 100%;
      //   }
    }

    h4 {
      font-weight: 800;
      margin-bottom: 10px;
    }
    p {
      max-width: 350px;
    }
  }
  li.imgOnly {
    flex-basis: calc((100% / 4));
    display: flex;
    align-items: center;
    @media (max-width: 1023px) {
      flex-basis: calc((100% / 2));
    }
  }
}

@media (max-width: 590px) {
  .galleryContainer {
    li,
    li.imgOnly {
      flex-basis: 100%;
      align-items: center;
    }
  }
}
