.galleryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 60px;
  li {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;

    @media (max-width: 590px) {
      flex-basis: 100%;
      align-items: center;
    }
    .roundImgContainer {
      width: 170px;
      height: 170px;
      margin-bottom: 20px;
      img {
        height: 100%;
      }
    }
    // .imgOnly {
    //   margin: 0 auto;
    // }
    h4 {
      font-weight: 800;
      margin-bottom: 10px;
    }
    p {
      max-width: 350px;
    }
  }
}
