.loaderContainer {
  nav {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    .logoContainer {
      height: 70px;
      width: 280px;
      background: linear-gradient(
        90deg,
        $lighterGray,
        $lightGray,
        $lighterGray
      );
      animation: loading 20s linear infinite;
      @media (max-width: 414px) {
        width: clamp(250px, 70vw, 280px);
      }
    }
    ul {
      li {
        p {
          display: block;
          width: 100px;
          height: 20px;
          background: linear-gradient(
            90deg,
            $lighterGray,
            $lightGray,
            $lighterGray
          );
          animation: loading 20s linear infinite;
        }
      }
    }
  }
}
