.loaderContainer {
  .mediaContainer {
    border: none;
    .mediaType,
    .mediaTitle,
    .mediaLogo,
    .mediaButtonContainer {
      background: linear-gradient(90deg, $lighterGray, $lightGray, $lighterGray);
      animation: loading 20s linear infinite;
      display: block;
    }
    .mediaType {
      height: 25px;
    }
    .mediaLogo {
      height: 200px;
    }
    .mediaButtonContainer {
      width: 100px;
      height: 40px;
    }
  }
  @media(max-width: 607px) {
    .mediaTitle {
      height: 50px;
    }
  }
}