.mainCard {
  // background: linear-gradient(
  //   90deg,
  //   rgb(211, 200, 224) 50%,
  //   transparent,
  //   rgb(255, 255, 255) 100%
  // );
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  padding: 50px;
  .contentBlockContainer {
    width: 70%;
    p {
      text-align: left;
      margin-bottom: 10px;
    }
  }
}
