.mainCard {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  padding: 50px 50px 70px;
  @media (max-width: 425px) {
    padding: 50px 30px 70px;
  }
  h2 {
    margin-bottom: 30px;
    width: 50%;
    //SHOULD WE JUST GO TO A 100%??
    @media (max-width: 890px) {
      width: 60%;
    }
    @media (max-width: 710px) {
      width: 100%;
    }
  }
  .contentBlockContainer {
    width: 60%;

    @media (max-width: 590px) {
      width: 100%;
    }

    p {
      text-align: left;
      margin-bottom: 25px;
    }
  }
  .loading {
    animation: fade-in 2s forwards;
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
