.mainCard {
  border-radius: 15px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  padding: 50px;
  height: 80vh;
  .contentBlockContainer {
    width: 70%;
    @media (max-width: 590px) {
      width: 100%;
    }
    p {
      text-align: left;
      margin-bottom: 10px;
    }
  }
}
