.pageTitleContainer {
  background-color: $darkTeal;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  margin-bottom: 110px;
  .pageTitle {
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    color: $white;
    margin: 0 30px;
  }
}

.opportunityTitle {
  margin-bottom: 55px;
}

.mediaList {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 60px 30px;
  .mediaContainer {
    flex: 1 0 calc(100% / 3 - 20px);
    border: 1px solid $darkGray;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
}

.mediaTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  .mediaType {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
  }
  .mediaTitle {
    font-weight: 600;
    height: 250px;
    text-align: left;
  }
}

.mediaLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  .mediaLogo {
    align-self: center;
    aspect-ratio: 1 / 1;
  }
}

.mediaButtonContainer {
  .mediaButton {
    padding: 10px 0;
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 1rem;
    color: $gray;
    &::after {
      content: "->";
      margin-left: 10px;
    }
    &:hover {
      scale: 1.05;
      transition: 0.1s ease;
      background-color: $lightBlue;
      color: $white;
    }
  }
}

@media (max-width: 995px) {
  .mediaTextContainer {
    .mediaTitle {
      letter-spacing: -1px;
    }
  }
}

@media (max-width: 938px) {
  .mediaList {
    gap: 40px 20px;
    .mediaContainer {
      padding: 15px 20px;
    }
  }
}

@media (max-width: 905px) {
  .mediaList {
    .mediaContainer {
      flex: 1 0 calc(50% - 20px);
    }
  }
  .mediaTextContainer {
    .mediaTitle {
      height: 150px;
    }
  }
  .mediaLogoContainer {
    .mediaLogo {
      height: 200px;
      width: 200px;
    }
  }
}

@media (max-width: 771px) {
  .mediaTextContainer {
    .mediaType {
      font-size: 0.7rem;
      line-height: 1rem;
    }
    .mediaTitle {
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
}

@media (max-width: 607px) {
  .mediaList {
    display: block;
    .mediaContainer {
      margin-bottom: 20px;
    }
  }
  .mediaTextContainer {
    .mediaTitle {
      height: auto;
    }
  }
}

@media (max-width: 534px) {
  .pageTitleContainer {
    .pageTitle {
      font-size: 1.3rem;
      line-height: 1.7rem;
    }
  }
}

@media (max-width: 375px) {
  .opportunityTitle {
    height: 6rem;
  }
}

@media (max-width: 324px) {
  .mediaTextContainer {
    .mediaType {
      font-size: 0.6rem;
      line-height: 0.8rem;
    }
    .mediaTitle {
      font-size: 0.9rem;
      line-height: 1rem;
    }
  }
  .mediaLogoContainer {
    .mediaLogo {
      height: 150px;
      width: 150px;
    }
  }
}
