.members {
  margin-top: 110px;
  margin-bottom: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 110px;
  @media (max-width: 590px) {
    width: 90%;
  }
  .memberTypeContainer{
    background-color: $darkTeal;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    margin-bottom: 110px;
    .memberType {
      font-weight: 600;
      font-size: 1.9rem;
      line-height: 2.2rem;
      text-transform: uppercase;
      color: $white;
      margin-left: 30px;
    }
  }
}

.membersListContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(30%, calc(100% / 3 - 30px)));
  justify-content: space-between;
  gap: 4rem 2rem;
}

.membersList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .membersIntro {
    p {
      margin-top: 10px;
      max-width: 100%;
      text-align: left;
      word-break: break-word;
    }
  }
}

.supportersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.supporterPicContainer {
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  .supporterPic {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}
.supporterTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .membersName h3,
  .membersTitle h4{
    text-align: center;
  }
}

.topContainer {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 8px;
  .picContainer {
    flex: 1 0 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    .membersPic {
      object-fit: cover;
      object-position: top;
      border-radius: 50%;
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  }
}

.rightContainer {
  flex: 1 0 calc(100% - 133px);
  align-self: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.membersName {
  h3 {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -1px;
  }
}

.membersTitle {
  h4 {
    max-width: 100%;
    text-align: left;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: -1px;
    color: $gray;
  }
}

@media (max-width: 1103px) {
  .membersListContainer {
    grid-template-columns: repeat(auto-fill, minmax(30%, calc(100% / 3 - 25px)));
    gap: 3.5rem 1.5rem;
  }
}
@media (max-width: 925px) {
  .membersListContainer {
    grid-template-columns: repeat(auto-fill, minmax(30%, calc(100% / 3 - 20px)));
    gap: 3rem 1.25rem;
  }
}
@media (max-width: 908px) {
  .rightContainer {
    height: 220px;
  }
}
@media (max-width: 877px) {
  .membersListContainer {
    grid-template-columns: repeat(auto-fill, minmax(45%, calc(100% / 2 - 20px)));
    gap: 2.75rem 1.25rem;
    .rightContainer {
      height: 180px;
    }
  }
}
@media (max-width: 832px) {
  .membersListContainer {
    gap: 2.5rem 1rem;
  }
}
@media (max-width: 748px) {
  .membersListContainer {
    .rightContainer {
      height: 200px;
    }
  }
}
@media (max-width: 663px) {
  .membersListContainer {
    display: block;
    li {
      margin-bottom: 20px;
    }
    .topContainer {
      gap: 10px;
      .picContainer {
        flex: 1 0 135px;
      }
      .rightContainer {
        flex: 1 0 calc(100% - 145px);
        height: 150px;
      }
    }
    .supporterPicContainer {
      width: 135px;
    }
  }
}
@media (max-width: 482px) {
  .membersListContainer {
    .topContainer {
      .picContainer {
        flex: 1 0 145px;
      }
      .rightContainer {
        flex: 1 0 calc(100% - 155px);
      }
    }
    .supporterPicContainer {
      width: 145px;
    }
  }
}
@media (max-width: 414px) {
  .membersListContainer {
    .topContainer {
      .picContainer {
        flex: 1 0 155px;
      }
      .rightContainer {
        flex: 1 0 calc(100% - 165px);
        height: 150px;
        .membersName h3 {
          font-size: 1rem;
        }
        .membersTitle h4 {
          font-size: 0.7rem;
        }
      }
    }
    .supporterPicContainer {
      width: 155px;
    }
  }
  .supporterTextContainer .membersName h3 {
    font-size: 1rem;
  }
  .supporterTextContainer .membersTitle h4 {
    font-size: 0.7rem;
  }
}