.members {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 110px;
  .memberSection {
    color: $gray;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;
  }
  .memberType {
    margin-bottom: 50px;
    font-weight: 600;
  }
}

.membersListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18%, 20%));
  justify-content: space-between;
  gap: 6rem 2rem;
  @media(max-width: 1103px) {
    grid-template-columns: repeat(auto-fill, minmax(20%, 25%));
    gap: 5rem 1.5rem;
  }
  @media (max-width: 930px) {
    grid-template-columns: repeat(auto-fill, minmax(25%, 28%));
    gap: 4rem 1.5rem;
  }
  @media (max-width: 832px) {
    grid-template-columns: repeat(auto-fill, minmax(28%, 30%));
    gap: 3rem 1rem;
  }
  @media (max-width: 752px) {
    grid-template-columns: repeat(auto-fill, minmax(40%, 45%));
  }
  @media (max-width: 558px) {
    grid-template-columns: none;
  }
}

.membersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  .picContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .membersPic {
      align-self: center;
      display: block;
      object-fit: cover;
      object-position: top;
      border-radius: 10px;
      max-width: 100%;
      aspect-ratio: 132 / 101;
    }
  }
  .membersName {
    text-align: center;
    margin: 20px 0 10px 0;
    height: 3rem;
    h3 {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
  .membersTitle {
    text-align: center;
    max-width: 100%;
    height: auto;
    font-weight: 600;
    margin: 10px 0;
    overflow: hidden;
    letter-spacing: -1px;
    h4 {
      color: $gray;
    }
  }
  .membersIntro {
    margin-top: 10px;
    max-width: 100%;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    text-align: center;
  }
}