.members {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 110px;
  .memberSection {
    color: $gray;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;
  }
  .memberType {
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 2.2rem;
  }
}

.membersListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 4rem 2rem;
}

.membersList {
  flex-basis: calc(100% / 4 - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  .picContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .membersPic {
      object-fit: cover;
      object-position: top;
      border-radius: 10px;
      max-width: 100%;
      aspect-ratio: 132 / 101;
    }
  }
  .membersName {
    h3 {
      text-align: center;
      margin: 20px 0 10px 0;
      height: 3rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
  .membersTitle {
    h4 {
      text-align: center;
      max-width: 100%;
      height: auto;
      font-weight: 600;
      margin: 10px 0;
      overflow: hidden;
      letter-spacing: -1px;
      color: $gray;
    }
  }
  .membersIntro {
    p {
      margin-top: 10px;
      max-width: 100%;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      text-align: center;
      word-break: break-word;
    }
  }
}

@media(max-width: 1103px) {
  .membersListContainer {
    gap: 3.5rem 1.5rem;
    .membersList {
      flex-basis: calc(100% / 3 - 30px);
    }
  }
}

@media(max-width: 832px) {
  .membersListContainer {
    gap: 2.5rem 1rem;
    .membersList {
      flex-basis: calc(100% / 2 - 40px);
    }
  }
}

@media(max-width: 663px) {
  .membersListContainer {
    gap: 2rem;
    .membersList {
      flex-basis: 100%;
    }
    .membersName {
      font-size: 1rem;
    }
  }
}