nav {
  @media (max-width: 980px) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  display: flex;
  justify-content: space-around;
  .logoContainer {
    padding-top: 20px;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
    gap: 30px;
    font-weight: 800;
    @media (max-width: 545px) {
      flex-direction: column;
    }
    p {
      color: $darkGreen;
    }
  }
}
