.pageTitle {
  margin-bottom: 80px;
}

.reportList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  .reportContainer {
    flex-basis: calc(25% - 20px);
    margin-bottom: 60px;
    .reportBg {
      border-radius: 10px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 10px;
      padding: 30px 35px;
    }
  }
  .reportContainer:nth-child(6n-3),
  .reportContainer:nth-child(6n-2) {
    flex-basis: calc(50% - 20px);
  }
  @media (max-width: 993px) {
    justify-content: space-between;
    .reportContainer,
    .reportContainer:nth-child(6n-3),
    .reportContainer:nth-child(6n-2) {
      flex-basis: calc(50% - 15px);
      margin-bottom: 40px;
    }
  }
  @media (max-width: 753px) {
    justify-content: space-between;
    .reportContainer,
    .reportContainer:nth-child(6n-3),
    .reportContainer:nth-child(6n-2) {
      flex-basis: calc(50% - 15px);
      margin-bottom: 30px;
    }
  }
  @media (max-width: 590px) {
    justify-content: center;
    gap: 20px;
    .reportContainer,
    .reportContainer:nth-child(6n-3),
    .reportContainer:nth-child(6n-2) {
      flex-basis: 100%;
    }
  }
}

.reportType {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: $white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  @media (max-width: 845px) {
    font-size: 0.6rem;
    line-height: 1rem;
  }
  @media (max-width: 324px) {
    font-size: 0.5rem;
    line-height: 0.8rem;
  }
}

.reportTitle {
  display: inline-block;
  font-weight: 800;
  color: $white;
  height: 250px;
  max-width: 70%;
  text-align: left;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  @media (max-width: 845px) {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  @media (max-width: 324px) {
    font-size: 0.9rem;
    line-height: 1rem;
  }
}

.reportButton {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  padding: 10px 35px;
  border-radius: 5px;
  min-width: 50%;
  background-color: $white;
  font-size: 0.7rem;
  line-height: 1rem;
  color: $gray;
  &:hover {
    scale: 1.05;
    transition: 0.1s ease;
    background-color: $lightBlue;
    color: $white;
  }
}
