//Backgrounds Colours
$lightBlue: #1991eb;
$lightGray: #d3d3d3;

//Text
$gray: #5b697a;
$darkGray: #333333;
$red: #f85359;
$darkBlue: #0000ee;
$darkTeal: #1f4a68;

//Common
$white: #ffffff;
$green: #bae6da;
$darkGreen: #1f4a68;
